

#tux{
	height: 20%;
	width: 20%;
	margin-left: 2%;
	margin-top: 5px;
	align-items: center;
	text-align: center;
	margin-left: 15%;
	position: relative;
	}
.xd{
	width: 100%;
	text-align: center;
	display: flex;
	
	background-color: #07FFB5FF;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-image: url("images/wall_lin.jpg");
}
.logo{
	font-size: 800%;
	
	font-size: 5vw;
	position: absolute;
	top: 10%;
	left: 40%;

}
.logo > a:hover{
	text-decoration: none;
}

.navbar{
	text-align: center;
	font-size: 2vw;
	background-color: #100F0F;


}
.navbar > a:not(:first-child){
	margin-left: 10%;
}
.navbar > a:hover{
	text-decoration: none;
	text-shadow: 2px 2px #06FFACFF;
	cursor: pointer;

}
.description{
	display: flex;
	font-size: 1vw;
}
.description > img{
	height: 40%;
	width: 40%;

}
.description1{
	display: flex;
	font-size: 1vw;
}
.description1 > img{
	height: 20%;
	width: 40%;
}
.description > p{
	margin-top: 20px;
	top: 3%;
	margin-left: 2%;
}
.description1 > p{
	margin-top: 20px;
	margin-left: 2%;

}
.descriptions > h2{
	text-align: center;
	font-style: italic;
	font-weight: 900;
	color: #230FFFFF;
}
.distributions > h1{
	text-align: center;
	
	font-weight: 900;
	color: #914800FF;
	font-size: 2vw;
}
.distributions{
	margin-bottom: 20px;
}

.disp{
	display: flex;
}
.fotki{
	width: 16.6%;
}
.fotki:hover{
	opacity: 0.5;
}
.basics{

	background-color: #000;
	margin-top: 20px;
	text-align: center;
	
}


.disp{
	background-color: white;
	
}
.basics > p{
	color: #1EFF0EFF;
	text-align: center;
}
.basics > h1{
	color: #1EFF0EFF;
	text-align: center;
}
.features{
	margin-top: 10px;
}

.ubuntu > img{
	width: 100%;
	height: 60%;
	position: relative;
}
.ubuntu {
	text-align: center; 
	text-align: center;
	font-style: italic;
	font-weight: 900;
	color: #230FFFFF;
	font-size: 2vw;

}

.navbar2{
	margin-bottom: 0!important;
	font-style: initial;
	font-size: 1vw;
	position: absolute;
	margin-top: 4%;
	margin-left: 70%;
	z-index: 4;


}
.wtf > a{
	color: #11FF2CFF;
	
}
.wtf > a:hover{
	cursor: pointer;
}
#pp{
	position: relative;
}
#btn_check{
	position: absolute;
	left: 40%;
	margin-top:  50%;
	width: 20%;
	height: auto;
	min-height: 50px;
}
.wtf{
	position: absolute;
	margin-top: 10%;
	
}


