

.container{
	display: flex;
	}
.clock{
	
	width: 150px;
	height: 150px;
	background-image: url("icons/copy.png");
	position: relative;
}
.hands{
	height: 150px; 
	width:150px;
	position: absolute;
	top: 0;
	left: 0
}
.clock2{
	
	width: 150px;
	height: 150px;
	background-image: url("icons/copy.png");
	position: relative;
}
.hands2 {
	height: 150px; 
	width:150px;
	position: absolute;
	top: 0;
	left: 0
}
.clock3{
	
	width: 150px;
	height: 150px;
	background-image: url("icons/copy.png");
	position: relative;
}
.hands3 {
	height: 150px; 
	width:150px;
	position: absolute;
	top: 0;
	left: 0
}
.clock4{
	
	width: 150px;
	height: 150px;
	background-image: url("icons/copy.png");
	position: relative;
}
.hands4 {
	height: 150px; 
	width:150px;
	position: absolute;
	top: 0;
	left: 0
}
.clock5{
	
	width: 150px;
	height: 150px;
	background-image: url("icons/copy.png");
	position: relative;
}
.hands5 {
	height: 150px; 
	width:150px;
	position: absolute;
	top: 0;
	left: 0
}
.clock6{
	
	width: 150px;
	height: 150px;
	background-image: url("icons/copy.png");
	position: relative;
}
.hands6 {
	height: 150px; 
	width:150px;
	position: absolute;
	top: 0;
	left: 0
}
.clock7{
	
	width: 150px;
	height: 150px;
	background-image: url("icons/copy.png");
	position: relative;
}
.hands7 {
	height: 150px; 
	width:150px;
	position: absolute;
	top: 0;
	left: 0
}
.clock8{
	
	width: 150px;
	height: 150px;
	background-image: url("icons/copy.png");
	position: relative;
}
.hands8 {
	height: 150px; 
	width:150px;
	position: absolute;
	top: 0;
	left: 0
}
.clock9{
	
	width: 150px;
	height: 150px;
	background-image: url("icons/copy.png");
	position: relative;
}
.hands9 {
	height: 150px; 
	width:150px;
	position: absolute;
	top: 0;
	left: 0
}
.clock10{
	
	width: 150px;
	height: 150px;
	background-image: url("icons/copy.png");
	position: relative;
}
.hands10 {
	height: 150px; 
	width:150px;
	position: absolute;
	top: 0;
	left: 0
}
.clock11{
	
	width: 150px;
	height: 150px;
	background-image: url("icons/copy.png");
	position: relative;
}
.hands11 {
	height: 150px; 
	width:150px;
	position: absolute;
	top: 0;
	left: 0
}
.clock12{
	
	width: 150px;
	height: 150px;
	background-image: url("icons/copy.png");
	position: relative;
}
.hands12 {
	height: 150px; 
	width:150px;
	position: absolute;
	top: 0;
	left: 0
}
.clock13{
	
	width: 150px;
	height: 150px;
	background-image: url("icons/copy.png");
	position: relative;
}
.hands13 {
	height: 150px; 
	width:150px;
	position: absolute;
	top: 0;
	left: 0
}
.clock14{
	
	width: 150px;
	height: 150px;
	background-image: url("icons/copy.png");
	position: relative;
}
.hands14 {
	height: 150px; 
	width:150px;
	position: absolute;
	top: 0;
	left: 0
}
.clock15{
	
	width: 150px;
	height: 150px;
	background-image: url("icons/copy.png");
	position: relative;
}
.hands15 {
	height: 150px; 
	width:150px;
	position: absolute;
	top: 0;
	left: 0
}




