body{
	;
}
.head1{

font-family: "Comic Sans MS", cursive, sans-serif;
color: #FFFFFF;

font-size: 120px;
text-align: center;
margin-left: 0;


}
.secmenu > div{

	list-style-type: none;
	display: inline-block;
	text-align: center;
	margin-left: 2%;

}
.hh{
	text-align: center;
	position: relative;
	opacity: 1;
}
.secmenu > div:nth-of-type(1){
	margin-left: 10%;
}
.jumbotron{
	margin-bottom: 0;
	background-image: url("icons/hel.jpg");
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
	opacity: 0.5;
	min-height: 500px;
	margin-left: 0%;

}
.pp{
	position: absolute;
	bottom: 100px;
}
.ps{
	top: 150px;
	right: 50%;
	opacity: 1;
}
#cl{
	font-size: 100px;
	color: #09754B;
	font-family: "Comic Sans MS", cursive, sans-serif;
}

.navbar{
	margin-bottom: 0;
	background-color: #AA9F9F;
}
.navbar > div {
	margin-left: 5%;
}
.navbar > div:nth-child(5) {
	margin-right: 10%;
}

.navbar {
	text-align: center;
}
.item > img{
	width: 100%;

}



.hands {
	height: 150px; 
	width:150px;
	position: absolute;
	top: 0;
	left: 0
}
.pp > img{
	color: #1AC937;
}

.b1{
	background-color: #134FE7;
}
.people{

}
.ph1 , .ph2 , .ph3 , .ph4{
	display: inline-flex;
}
.ph1 ,.ph2{
	margin-top: 20px;
}
.ph3 , .ph4{
	margin-top: 20px;
}
.ph1 > img{
	width: 300px;
	height: 300px;
}
.ph3 > img{
	width: 300px;
	height: 300px;
}
.ph2 > img{
	width: 300px;
	height: 300px;
}
.ph4 > img{
	width: 300px;
	height: 300px;
}
.butper{
	
	background-color: #DFF3A4;
	margin-top: 10%;
}
.butper:hover{
	opacity: 0.5;
}
.par{
	margin-top: 10%;
	text-align: center;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 15px;
}
.perheader{
	font-size: 20px;
}

.divsection > h1{
	text-align: center;
	color: #3DFD09;
	font-family: "Comic Sans MS", cursive, sans-serif;

}
.video iframe{
	 /*ignore padding*/
	width: 100%;
	height: 100%;
	min-height: 600px;
	min-width: 100%;
	
}


.minimg{
	width: 90%;
	height: 90%;
}
.smalldiv{
	text-align: center;
	font-size: 25px;
	font-family: "Comic Sans MS", cursive, sans-serif;
	text-shadow: 2px 2px;
}
.podpisy:hover{
	text-decoration: none;
	text-decoration-line: none;
}
.divsection > h1 > img{
	height: 50px;
	width: 50px;
}
.links{

	height: 300px;
}
.wtf{
	margin-right: 40%;
	margin-left: 20%;
}
.th3menu{
	min-height: 100px;
	background-color: #14C9D9;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}
.linki{
	color: black;
	margin-left: 5%;
	margin-right: 5%;
	font-size: 20px;
}
.linki:hover{
	text-decoration: none;
}
.minimg:hover{
	opacity: 0.5;
	transform: rotate(30deg);
}
